doctype html
html
	head
		title= title

	body
		p Please register to our account!
		form(id="form",name="form",method="post",action="")
			table
				tr
					input(type="text",id="name",name="name",placeholder="Your name")

					input(type="text",id="email",name="email",placeholder="Your email")

					input(type="text",id="username",name="username",placeholder="Your Username")

					input(type='password',id='password',name='password',placeholder='Password here')
					
					input(type="submit",value = 'Sign Up')

		span
			p Already registered?

			p 
				a(href="/") Login
